.weather-icon {
  height: 100px;
}
h2 {
  margin: 0;
  font-size: 3em;
  .unit {
    font-size: 0.8em;
  }
}
.divider {
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 4px;
  border-right: 1px solid #3b3838;
}
.icon {
  vertical-align: middle;
  margin-right: 4px;
}
.info {
  margin-top: 0;
}