@import './variables.css';
.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  color: var(--primary-text);
  background-color: var(--background-color);
}
.Box {
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--box-background);
  color: var(--dark-text);
  min-width: 200px;
  padding: 24px 24px 40px;
  display: grid;
  margin: auto;
  .Img-container {
    display: flex;
    min-height: 200px;
  }
}
.error {
  color: red;
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 12px;
}
.Default-icon {
  margin: auto;
}
.City-input {
  padding: 10px;
  align-self: end;
  display: grid;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--header-background);
  font-size: calc(10px + 2vmin);
}

@media screen and (min-width: 768px) {
  .Box {
    width: 40%;
    max-width: 600px;
    padding: 48px;
  }
  .App-header {
    font-size: calc(10px + 2vmin);
  }
}